@use "../styles/global"

.header
    inset: var(--spacing-m) var(--spacing-m) auto
    position: absolute

.nav-list
    list-style: none
    display: grid
    grid-auto-rows: 1fr
    grid-auto-flow: column

    & > li
        grid-column: 1
        justify-content: start

        &.right
            grid-column: 2
            justify-self: end

    & a
        color: inherit
        font: var(--font-secondary-m)
        text-decoration: inherit
        text-shadow: var(--shadow-s)

    & a, & .email
        position: relative
        z-index: 999

        &:hover, &:focus-visible
            text-shadow: var(--shadow-m)

.back
    align-self: end
    grid-row: span 2
    z-index: 99
