@use "../styles/global"

.container
    align-items: start
    animation: fade-in-popup ease var(--transition-s) forwards
    background: var(--color-off-white)
    border-radius: var(--radius-s)
    border: none
    display: grid
    grid-template-rows: calc( var(--spacing-xl) - var(--spacing-xs) ) auto
    inset: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) auto
    min-height: calc( 100% - 2 * var(--spacing-xs ))
    overflow-y: auto
    padding-block: var(--spacing-l)
    position: fixed
    width: min(45ch + 2 * var(--spacing-l), 100% - 2 * var(--spacing-xs))
    z-index: 9999

    & .content
        padding-inline: var(--spacing-l)

    &.close
        animation: fade-out-popup ease var(--transition-s) forwards

        & + .overlay
            animation: fade-out-overlay ease var(--transition-s) forwards

.overlay
    animation: fade-in-overlay ease var(--transition-s) forwards
    cursor: pointer
    inset: 0
    position: fixed
    transition: opacity var(--transition-s)
    z-index: 99

.button
    font: var(--font-secondary-s)
    position: sticky
    justify-self: end
    text-shadow: var(--shadow-s)
    top: 0
    margin-inline-end: var(--spacing-l)

    &:hover, &:focus-visible
        text-shadow: var(--shadow-m)

@keyframes fade-in-overlay
    0%
        opacity: 0
        backdrop-filter: blur(0)
    100%
        opacity: 1
        backdrop-filter: blur(2px)

@keyframes fade-out-overlay
    0%
        opacity: 1
        backdrop-filter: blur(2px)
    100%
        opacity: 0
        backdrop-filter: blur(0)

@keyframes fade-in-popup
    0%
        translate: 100% 0

    100%
        translate: 0

@keyframes fade-out-popup
    0%
        translate: 0

    100%
        translate: 100% 0
