@use "../styles/global"

.project-info
    background-color: var(--color-off-white)
    border-radius: var(--radius-s)
    padding: var(--spacing-l) var(--spacing-m) var(--spacing-s)
    aspect-ratio: 4 / 5
    max-width: min(min(2 * var(--column-width), 75vw), 50vh)
    overflow-y: auto

    ::-webkit-scrollbar
        display: initial

    // & > section:last-child
    //     margin: 0

.info
    display: grid
    gap: var(--spacing-m)

    & > *
        display: flex
        flex-direction: row-reverse
        align-items: last baseline
        justify-content: start
        gap: var(--spacing-fixed-s)
        width: min-content

        @media screen and ( max-width: global.$breakpoint-s )
            flex-direction: column-reverse
            gap: 0

        &  .label
            font: var(--font-primary-xxs)
            margin: 0
            white-space: nowrap

        & .value

            & > span
                white-space: nowrap

                @media screen and ( max-width: global.$breakpoint-s )
                    flex-direction: column-reverse
                    gap: 0

.tags
    display: flex
    flex-wrap: wrap
    gap: var(--spacing-fixed-s)

.tag
    align-items: baseline
    background-color: var(--color-black)
    border-radius: var(--radius-s)
    color: var(--color-white)
    font: var(--font-primary-xxs)
    gap: var(--spacing-fixed-xxs)
    padding: 0.5em 1em
    white-space: nowrap
