@use "../styles/global"

.container
    align-items: end
    cursor: grab
    display: flex
    gap: var(--spacing-fixed-m)
    overflow: auto hidden
    padding: 0 var(--spacing-m) var(--spacing-xs)
    scrollbar-width: none
    position: absolute
    inset: auto 0 var(--spacing-m)
    ::-webkit-scrollbar
        display: none

    @media screen and ( max-width: global.$breakpoint-s )
        bottom: var(--spacing-l)

    &.grabbing
        cursor: grabbing

    & > *
        flex-shrink: 0

    &  > li
        position: relative
        // max-width: 100%
