@use "../styles/global"

.button
    font: var(--font-secondary-s)
    text-shadow: var(--shadow-s)

.tool-container
    align-items: baseline
    display: flex
    gap: var(--spacing-s)
    justify-content: start
    white-space: nowrap

.tool-details
    font: var(--font-primary-xxs)
